@import url("https://fonts.cdnfonts.com/css/tt-firs-neue-trl");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

.payment-feature {
  background-image: linear-gradient(
    35deg,
    hsl(0deg 0% 9%) 0%,
    hsl(0deg 0% 9%) 2%,
    hsl(0deg 0% 9%) 4%,
    hsl(0deg 0% 9%) 7%,
    hsl(0deg 0% 9%) 10%,
    hsl(0deg 0% 9%) 14%,
    hsl(0deg 0% 9%) 18%,
    hsl(0deg 0% 9%) 24%,
    hsl(0deg 0% 9%) 32%,
    hsl(0deg 0% 9%) 43%,
    hsl(0deg 0% 9%) 59%,
    hsl(0deg 0% 9%) 100%
  );
  @apply py-20;
}

.app-feature {
  background-image: linear-gradient(
    120deg,
    hsl(0deg 0% 9%) 0%,
    hsl(108deg 5% 9%) 14%,
    hsl(107deg 8% 10%) 24%,
    hsl(107deg 11% 10%) 32%,
    hsl(107deg 14% 11%) 40%,
    hsl(107deg 16% 11%) 46%,
    hsl(107deg 14% 11%) 52%,
    hsl(107deg 11% 10%) 58%,
    hsl(107deg 8% 10%) 63%,
    hsl(108deg 5% 9%) 68%,
    hsl(0deg 0% 9%) 73%,
    hsl(0deg 0% 9%) 78%,
    hsl(0deg 0% 9%) 83%,
    hsl(0deg 0% 9%) 88%,
    hsl(0deg 0% 9%) 94%,
    hsl(0deg 0% 9%) 100%
  );
  @apply py-20;
}

.feedback {
  background-image: linear-gradient(
    115deg,
    hsl(210deg 8% 15%) 0%,
    hsl(191deg 7% 15%) 13%,
    hsl(170deg 8% 14%) 24%,
    hsl(157deg 10% 15%) 33%,
    hsl(148deg 12% 15%) 40%,
    hsl(142deg 15% 15%) 46%,
    hsl(141deg 12% 15%) 51%,
    hsl(141deg 9% 14%) 56%,
    hsl(140deg 6% 14%) 60%,
    hsl(140deg 3% 14%) 64%,
    hsl(0deg 0% 14%) 68%,
    hsl(137deg 0% 14%) 73%,
    hsl(137deg 0% 13%) 77%,
    hsl(137deg 0% 13%) 83%,
    hsl(137deg 0% 13%) 90%,
    hsl(0deg 0% 13%) 100%
  );
  @apply py-20;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.grid-lines {
  background-image: linear-gradient(#282828 0.5px, transparent 0.5px),
    linear-gradient(90deg, #282828 0.5px, transparent 0.5px);
  background-size: 5rem 5rem;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#282828 0.5px, transparent 0.5px),
    linear-gradient(90deg, #282828 0.5px, transparent 0.5px);
  background-size: 5rem 5rem;
  @apply z-10;
}

.hero {
  background-image: linear-gradient(
    to right top,
    #1c6d3c,
    #0c4824,
    #272525,
    #151515,
    #151515,
    #151515,
    #151515,
    #151515,
    #232279,
    #252392
  );
  /* background-image: linear-gradient(
    to right top,
    #204e33,
    #04443c,
    #03383d,
    #132c36,
    #1a2129,
    #191e28,
    #181b26,
    #191724,
    #1b182f,
    #1c1a3b,
    #1d1b47,
    #1d1c53
  ); */
  /* opacity: .5; */
}

.header {
  font-family: "TT Firs Neue Trl", sans-serif;
  @apply container mx-auto text-xl;
}

.text-gradient {
  background-image: -webkit-linear-gradient(
    172deg,
    #2020ee 0.2%,
    #05ff69,
    #05ff69,
    #05ff69,
    #05ff69
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.text-gradient-2 {
  background-image: -webkit-linear-gradient(
    172deg,
    #2020ee 0.2%,
    #05ff69
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.tran {
  transition: all 0.5s;
}

.hero-transition {
  transition: all 0.9s;
}

.product-summary {
  background-image: linear-gradient(
    120deg,
    hsl(231deg 19% 14%) 0%,
    hsl(231deg 19% 14%) 16%,
    hsl(232deg 18% 13%) 27%,
    hsl(232deg 18% 13%) 36%,
    hsl(232deg 17% 12%) 44%,
    hsl(232deg 16% 12%) 51%,
    hsl(232deg 16% 12%) 57%,
    hsl(232deg 15% 11%) 63%,
    hsl(232deg 13% 11%) 69%,
    hsl(232deg 12% 10%) 75%,
    hsl(232deg 10% 9%) 81%,
    hsl(232deg 8% 9%) 87%,
    hsl(233deg 4% 8%) 93%,
    hsl(0deg 0% 7%) 100%
  );
  @apply py-20;
}

.customScrollbar {
  &::-webkit-scrollbar {
    @apply w-[5px] h-[5px];
  }

  /* Track */
  &::-webkit-scrollbar-track {
    @apply bg-gray-500;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    @apply bg-gray-800;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }

  &::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }
}

@layer utilities {
  .feature-card {
    @apply w-[380px] rounded-[30px] cursor-pointer text-white relative py-8 px-14 tran ease-in-out pt-12 max-md:w-[320px] hover:text-black hover:bg-[#05FF69];
  }

  .circle {
    @apply relative;
  }

  .card {
    @apply relative bg-white/10 z-10 backdrop-filter backdrop-blur-[20px] shadow-lg;
  }
}

.eclipseLarge {
  @apply absolute -top-[150px] -right-[100px] opacity-30;
}

.iphone {
  @apply right-[50%] translate-x-[50%] bottom-0;
}

.iphone-sm {
  @apply -mb-[45vh] max-lg:-mb-[55vh] max-sm:-mb-[10vh];
}

.iphone-lg {
  @apply -mb-[80vh];
}

/* xl:-bottom-[20vh]   */
